<style type="text/css">
    .diy-checkbox {
        margin: 15px 0px !important;
    }

    .from-control-diy {
        display: inline;
    }

    .disabled-diy {
        background-color: #EBEBE4;
    }
</style>

#set($id="$!{syBanner.id}")
#set($picUrlListStr="$!{syBanner.picUrlListStr}")



<div>
    <ul class="breadcrumb">
        <li>
            <a href="${ac.contextPath}/manage/banner/query">banner管理</a>
        </li>
        <li>
            <a href="${ac.contextPath}/manage/banner/init">新建banner</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2 id="actTitle"><i class="glyphicon glyphicon-edit"></i></h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>

            <div class="box-content" style="margin-right:400px;">
                <!--banner配置信息-->
                <form id="banner" action="${ac.contextPath}/manage/banner/save" data-toggle="validator" method="post"
                      class="form-horizontal">
                    <!--id-->
                    <input type="hidden" id="id" name="id" value="$!{syBanner.id}"/>
                    <input type="hidden" id="picUrlList" name="picUrlList" value="$!{syBanner.picUrlList}"/>
                    <!--id-->
                    #if($!{syBanner.id})
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">banner_id:</label>
                            <div class="col-sm-10">
                                <input type="text" style="width:45%;display: inline;" class="form-control"
                                       value="$!syBanner.id" disabled>

                            </div>
                        </div>
                    #end

                    <!--备注信息-->
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">
                            banner描述:</label>
                        <div class="col-sm-10">
                            <input type="text" style="width:45%;display: inline;" class="form-control"
                                   id="desc" name="desc" value="$!syBanner.desc"
                                   placeholder="banner描述" />
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <!--banner类型-->
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">banner类型:</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="type" name="type" onchange="">
                                <option value="1" #if($!syBanner.type==1) selected #end>首页banner</option>
                                <option value="2" #if($!syBanner.type==2) selected #end>智能推荐banner</option>
                            </select>
                        </div>
                    </div>

                    <!--banner业务类型-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">banner业务类型:</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="bizType" name="bizType">
                                #foreach($e in $bizTypeList)
                                    <option value='$e.code' #if($!syBanner.bizType == $e.code)
                                            selected #end>${e.name}</option>
                                #end
                            </select>
                        </div>
                    </div>

                    <!--关联模块类型-->
                    <div class="form-group" id="moduleTypeDiv">
                        <label class="col-sm-2 control-label">关联模块类型:</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="moduleType" name="moduleType">
                                #foreach($e in $moduleTypeList)
                                    <option value='$e.code' #if($!syBanner.moduleType == $e.code)
                                            selected #end>${e.name}</option>
                                #end
                            </select>
                        </div>
                    </div>

                    <!--跳转地址-->
                    <div class="form-group" id="jumpContentDiv">
                        <label for="name" class="col-sm-2 control-label">
                           跳转地址url:</label>
                        <div class="col-sm-10">
                            <input type="text" style="width:800px;" class="form-control" id="jumpContent"
                                   name="jumpContent" value="$!syBanner.content" placeholder="跳转地址url"/>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <!--关联内部景区-->
                    <div class="form-group" id="scenicContentDiv">
                        <label for="name" class="col-sm-2 control-label">
                            <font color="red" size="5">*</font>关联景区信息:</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="scenicContent" name="scenicContent">

                            </select>
                        </div>
                    </div>

                    <!--图片地址-->
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">
                            <font color="red" size="5">*</font>图片地址:</label>
                        <div class="col-sm-10">
                            <div id="container">
                                <a href="javascript:void(0)" class="file">选择文件
                                    <input type='file' multiple accept = 'image/gif,image/jpeg,image/jpg,image/png' />
                                    <input type="hidden" id="picUrl" name="picUrl" value="$!syBanner.picUrl" />
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="form-group" style="margin-top:10px;">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="formSave" type="submit" class="btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>


    // 页面初始化
    $(function () {

##        var id = "$!id";
##        var data = "";
##        if(id != ""){
            data =  eval($!picUrlListStr);
//        }
##        var data =  $picUrlListStr+"";
        upload('container',data,'banner');




        $("#scenicContent option").remove();
        var moduleType = $("#moduleType").val();
        var data = {"moduleType": moduleType};
        changeScenicSpot(data);
        var val = $("#bizType").val();
        bizTypeChange(val);
    });

    //初始化进来隐藏 跳转静态链接信息
    $("#jumpContentDiv").hide()

    $("#bizType").change(function () {
        //静态链接时 隐藏 关联景区信息
        //关联景区信息 隐藏 跳转静态地址url
        var val = $("#bizType").val();
        bizTypeChange(val);
    })

    function bizTypeChange(val) {
        var id = $("#id").val();
        if (val == 2) {
            $("#scenicContentDiv").hide();
            $("#moduleTypeDiv").hide();
            $("#jumpContentDiv").show();
            if (id == "") {
                $("#jumpContent").val("");
            }
        } else if (val == 1) {
            $("#scenicContentDiv").show();
            $("#moduleTypeDiv").show();
            $("#jumpContentDiv").hide();
            if (id == "") {
                $("#jumpContent").val("null");
            }
        }
    }


    $("#moduleType").change(function () {

        var moduleType = $("#moduleType").val();
        $("#scenicContent option").remove();
        var data = {"moduleType": moduleType};
        changeScenicSpot(data)
    });

    function changeScenicSpot(data) {
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: basePath + '/manage/banner/getScenicContent',
            data: data,
            success: function (res) {
                layer.closeAll("loading");
                if (res.code == 1) {
                    var arr = eval(res.jsonObjectList);
                    for (var i = 0; i < arr.length; i++) {
                        $("#scenicContent").append("<option value='" + arr[i].id + "_" + arr[i].name +
                                "'>" + arr[i].name + "</option>"
                        );

                    }
                } else if (res.code == 2) {
                    $("#scenicContent").append("<option value=''>暂无关联信息，请到相应模块配置</option>");
                }
            },
            error: function () {
                layer.closeAll("loading");
                layer.msg("提交失败,请重试", {icon: 5});
            }
        });
    }


    $('#banner').validator().on('submit', function (e) {
        if (e.isDefaultPrevented()) {
            layer.msg('亲,请将信息填写完整呀~', {icon: 5});
        } else {
            var data = $('#banner').serialize();
            console.log(data);
            layer.load(0, {shade: false});
            $.ajax({
                type: 'POST',
                url: basePath + '/manage/banner/save',
                data: data,
                success: function (res) {
                    layer.closeAll("loading");
                    if (res.code == 1) {
//                        layer.msg(res.msg, {icon: 6});
//                        window.location = basePath + "/manage/banner/query";
//                    } else {
//                        layer.msg(res.msg, {icon: 10});
//                    }
//                },
//                error: function () {
//                    layer.closeAll("loading");
//                    layer.msg("提交失败,请重试", {icon: 5});
//                }

                        layer.msg(res.msg, {
                            icon: 6,
                            time: 3000
                        });
                        window.location = basePath + "/manage/banner/query";
                    } else {
//                        layer.msg(res.msg, {icon: 10});
                        layer.msg(res.msg, {
                            icon: 10,
                            time: 3000
                        });
                    }
                },
                error: function () {
                    layer.closeAll("loading");
//                    layer.msg("提交失败,请重试", {icon: 5});
                    layer.msg("提交失败,请重试", {
                        icon: 5,
                        time: 3000
                    });
                }

            });

        }
        return false;
    });

</script>