<!DOCTYPE html>
<html lang="en">
<head>
	#parse("/layout/common.vm")
	<meta charset="utf-8">
    ##<title>游松阳管理系统</title>
    <style type="text/css">
    .form-bottom-15{
        margin-bottom: 15px !important;
    }
    .form-control-diy{
        border-color: #468847 !important;
        /**display: block !important;**/
        width: 100% !important;
        height: 38px !important;
        /**padding: 8px 12px !important;
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #555555 !important;
        background-color: #ffffff !important;
        background-image: none !important;
        border: 1px solid #cccccc !important;
        border-radius: 4px !important;**/
    }
    .form-left-15{
        margin-left: 15px;
        display: inline;
    }
    .table>tbody>tr>td{
       border: 1px solid #dddddd !important;
    }
    .fix_width{
		width: 120px;
		text-align:left;
    }
    .body {
        /**margin: 40px;**/
        min-height: 700px;
    }
	.page-header-diy {
        padding-bottom: 9px;
        margin: 20px 0 20px;
        border-bottom: 1px solid #eee;
    }
	.fix_mid_width{
		width: 150px;
		text-align:right;
    }
    </style>

</head>

<body>
	#parse("/layout/header.vm")
<div class="ch-container">
    <div class="row">

        #parse("/layout/left.vm")

		<div id="content" class="col-lg-10 col-sm-10 body" >
			<!-- content starts -->
			$screen_content
		</div><!-- /#content.col-md-0-->
	</div><!--/fluid-row-->
	#parse("/layout/bottom.vm")
</div><!--/.fluid-container-->
</body>
</html>

