
<style type="text/css">
	.diy-checkbox{
        margin: 15px 0px !important;
	}
	.from-control-diy{
		display:inline;
	}
	.disabled-diy{
		background-color:#EBEBE4;
	}
</style>
<div>
    <ul class="breadcrumb">
        <li>
            <a href="${ac.contextPath}/manage/guide/query">导游管理</a>
        </li>
        <li>
            <a href="${ac.contextPath}/manage/guide/init">新建导游</a>
        </li>
    </ul>
</div>

#set($code="$!{code}")
#set($msg="$!{msg}")

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i>导游详情</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content" style="margin-right:400px;">
               <form class="form-horizontal">

                   <div class = "form-group">
                       <label for="name" class="col-sm-2 control-label" >导游id:</label>
                       <div class="col-sm-10">
                           <input type="text" style="width:45%;display: inline;"  class="form-control" value="$!guide.id" disabled>
                       </div>
                   </div>

                   <!--名字-->
                   <div class = "form-group">
                       <label for="name" class="col-sm-2 control-label"><font color="red" size="5">*</font>名字:</label>
                       <div class="col-sm-5">
                           <input type="text" style="width:45%;display: inline;"  class="form-control" value="$!guide.name" disabled>
                       </div>
                   </div>

                   <!--描述-->
                   <div class = "form-group">
                       <label for="name" class="col-sm-2 control-label" >描述:</label>
                       <div class="col-sm-10">
                           <input type="text" style="width:45%;display: inline;"  class="form-control"
                                  value="$!guide.desc" disabled />
                       </div>
                   </div>

                   <!--预定电话-->
                   <div class="form-group">
                       <label class="col-sm-2 control-label" >预定电话:</label>
                       <div class="col-sm-10">
                           <input type="text" style="width:45%;display: inline;"  class="form-control"
                                  value="$!guide.phone" disabled />
                       </div>
                   </div>

                   <!--关键字-->
                   <div class = "form-group">
                       <label for="name" class="col-sm-2 control-label" ><font color="red" size="5">*</font>关键词:</label>
                       <div class="col-sm-10">
                           <input type="text" style="width:45%;display: inline;"  class="form-control"
                                  value="$!guide.keyWord" disabled />
                       </div>
                   </div>

                   <!--图片地址-->
                   <div class="form-group">
                       <label class="col-sm-2 control-label" >图片地址:</label>
                       <div class="col-sm-10">
                           #foreach($v in $picUrlList)
                               <div class="arrow" style="top: 50%;"></div>
                               <div class="popover-content">
                                   <img src="$!{v}" height="80" width="250"/>
                               </div>
                           #end
                       </div>
                   </div>

                   <!--音频地址-->
                   <div class="form-group">
                       <label class="col-sm-2 control-label">音频地址:</label>
                       <div class="col-sm-10">
                           <input type="text" style="width:45%;display: inline;" class="form-control"
                                  id="audioUrl" name="audioUrl" value="$!guide.audioUrl" disabled
                           />
                       </div>
                   </div>
			   </form>
            </div>
			

        </div>
      </div>
      <!--/span-->
	  
</div><!--/row-->


<script>
	
// 页面初始化函数
$(function(){
	var isSuccess = "$code";
	var msg = "$msg";
	showMsg(isSuccess,msg);
});

// 提示信息弹出
function showMsg(isSuccess,msg){
	if(isSuccess == "true"){
		if(msg != ""){
			var info="{\"text\":\""+msg+"\",\"layout\":\"top\",\"type\":\"success\"}";
			$('#msgButton').attr("data-noty-options",info).trigger("click");
		}
	}else{
		if(msg != ""){
			var error="{\"text\":\""+msg+"\",\"layout\":\"top\",\"type\":\"error\"}";
			$('#msgButton').attr("data-noty-options",error).trigger("click");
		}
	}
}
</script>